
.service{
    width: 78%;
    margin: auto;
    z-index: 3;
 .service_titles{
    width:760px;
 }
}

.team_mate_flexbox{
    @include responsive(laptop){
      display: flex;
      justify-content: space-between;
      flex-direction:row;

    .audrey{
          padding-right: 5%;
        }
    .evrard{
          padding-left:5%;
        }
      }
    .mate_description{
      box-sizing:border-box;
      //width: 54%;
      overflow: hidden;
        .paragraphe {
        margin-top: 0px;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        }
        h2{
          font-size: 19.4806px;
          line-height: 28px;
          margin-top: 90px;
        }
        h3{
          font-weight: bold;
          font-size: 12.3968px;
          line-height: 25px;
        }
    }

    .mate_picture{
      box-sizing:border-box;
      //width:46%;
      overflow: hidden;
      .aud{
        float: right;
        }
      .ev{
        float:left;
        }
      .mate_img{
        max-height: 545px;
        max-width: 470px;

        }

      }

    }
@include responsive(laptop)

@include responsive(tablet)

