.acceuil_wrapper{
    position: relative;
    width: 100%;
    @include responsive(laptop){
       height: 100vh;
        }
    .acceuil_box_left{
        width:100%;
        margin:auto;
        @include responsive(laptop){
        width: 78%;
        margin: auto;
        }
        .box_left_item{
            width: 90%;
            margin: auto;
            text-align: center;
            z-index: 3;
            @include responsive(laptop){
            width: 40%;
            text-align: left;
            margin: 0;
            }
            .hometitle{
                font-size:60px;
                margin-top:10px;
                margin-bottom:0; 
                padding-top: 4rem;
                padding-bottom: 50px; 
            }
            p{
                margin: 0;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
        .parallax{
        background-image: url("assets/images/profile_picture.png");
        background-size: contain;
        height: 400px; 
        background-position: center center;
        background-repeat: no-repeat;
            @include responsive(laptop){
                display:none;
            }
        }
        .acceuil_box_right{
            display:none;
            @include responsive(laptop){
            display:block;
            position: absolute;
            height: 100vh;
            right:0;
            top:0;
            width: 45vw;
            overflow: hidden;
                img{
                width: 100%;
                object-fit: cover;
                }
            }
    
        }
        .acceuil_box_middle{
            display: none;
            @include responsive(laptop){
                display: block;
                position: absolute;
                bottom:0px;
                left:45%;
                bottom: -10%;
                    .acceuil_box_middle_item{
                        width: 100%;
                        object-fit: cover;
                        box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
                    }
                }
        }
    
}

