.acceuil_wrapper{
    width:100%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    .acceuil_box_left{
        margin-left: 11%;
        width:50%;
        .hometitle{
            font-size:60px;
}
        .box_left_width{

        }

    }
    .acceuil_box_middle{
        position: absolute;
        top:270px;
        right: 50%;
        transform: translate(50%)
    }
    .acceuil_box_right{
        width:50%;
      }
}


