.wrapper_approach{
    width: 78%;
    margin: auto;
    .approach_titles{
		p{
			font-size: 15px;
			font-family: "Open Sans", sans-serif;
			line-height: 1.5rem;
			color: #222222;
			font-weight: 300;
		}
		@include responsive(laptop){
		width:760px;
		}
	}
	
}

.timeline {
    position: relative;
	margin: 4rem auto;
	@include responsive(laptop){
	width: 70%;
	}
	&::before {
		content: '';
		background:$light-primary;
		width: 5px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.timeline-item {
	width: 100%;
	margin-bottom: 1rem;
	@include responsive(laptop){
		margin-bottom: 0;
		}
	&:nth-child(even) {

		.timeline-content {
			float: right;
			padding: 40px 30px 10px 30px;

			.date {
				right: auto;
				left: 0;
			}
			p{
				font-size: 12px;
				line-height: 17px;
			  }

			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				left: -15px;
				border-width: 10px 15px 10px 0;
				border-color: transparent #f5f5f5 transparent transparent;
			}
		}
	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
	p{
		font-size: 12px;
		line-height: 17px;
	  }

	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent #f5f5f5;
	}
}
.timeline-center {
    text-align: center;
    position: relative;
	background:$primaryColor;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
    &::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent #f5f5f5;
    }
    .logo_black{
        width: 30px;
    }
    h2 {
		color: white;
	}
}
.timeline-img {
	width: 30px;
	height: 30px;
	background: $primaryColor;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}


.timeline-card {
	padding: 0!important;

	p {
        padding: 20px;
        margin: 0;
	}

	a {
		margin-left: 20px;
	}
}

.timeline-item {
  .timeline-img-header {
			 overflow: hidden;
			 outline: 100px solid rgba(117, 81, 236, 0.5);
   			outline-offset: -100px;
			.landscape{
				width: 100%;
			}
		}
}

.timeline-img-header {

	height: 100px;
	position: relative;

	h2 {
		color: white;
		position: absolute;
		bottom: 0px;
		left: 20px;
	}
}

blockquote {
	margin-top: 30px;
	color: $secondaryColor;
	border-left-color: $primaryColor;
	padding: 0 20px;
}

.date {
	background:$secondaryColor;
	display: inline-block;
	color: white;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and (max-width: 768px) {

	.timeline {

		&::before {
			left: 50px;
		}

		.timeline-img {
			left: 50px;
		}

		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}

		.timeline-item {

			&:nth-child(even) {

				.timeline-content {
					float: none;

				}
			}

			&:nth-child(odd) {

				.timeline-content {
					
					&::after {
						content: '';
						position: absolute;
						border-style: solid;
						width: 0;
						height: 0;
						top: 30px;
						left: -15px;
						border-width: 10px 15px 10px 0;
						border-color: transparent #f5f5f5 transparent transparent;
					}
				}

			}
		}
	}
	
}
