.header_blog{
 width: 75%;
 margin:auto;
 position: relative;
 .blog_titles{
    @include responsive(laptop){
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    }
     h1{
         margin:0;
     }
 }
 .article_menu.is-active{
    @include responsive(laptop){
    position: absolute;
    right:0; 
    }
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.6;
    li{
        &:hover{
            color:$primaryColor;
            cursor: pointer;
           }
    }
 }
 .blog_articles{
    @include responsive(laptop){
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
	}
     .article{
         margin-top: 40px;
         @include responsive(laptop){
            width:30%;
            }
         a{
             text-decoration: none;
         }
         .blog_image{
             height:250px;
             width: 100%;
            .box-fit{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
         }
      
         h1{
             text-align: left;
         }
     }
 }
}

.article_menu{
    display:none;
}

.article_menu.is-active{
    display: block;
}

.article.not-active{
    display: none;
}

.screen-reader-text, .search-submit{
    display:none;
}

.search-field{
    margin: auto;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
        border: 1px solid $primaryColor;
        transition: 0.35s ease;
        color:$primaryColor;
    }
}

.search_container{
    position: relative;
    margin-bottom: 20px;
    @include responsive(laptop){
        margin-bottom: 0;
        }
    .search-icon{
        position: absolute;
        width: 25px;
        height: 25px;
        top: 7px;
        right: 5px;
      }
}

