.contact_flexbox{
    @include responsive(laptop){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .box_right{
        width:100%;
        @include responsive(laptop){
        width: 50%;
        }
        .texte{
            @include responsive(laptop){
            width: 70%;
            }
            width: 90%;
            .partenaire_flexbox{
                display: flex;
                flex-direction: row;
                h2{
                    margin-top: 1.5rem;
                    margin-left: 2rem;
                }
            }
        }
    }
    .box_left{
        @include responsive(laptop){
        width: 45%;
        }
        width: 100%;
        background-color: white;
        .box_margin{
            width: 70%;
            margin: auto;
        } 
    }
}

.wpcf7-form{
    input{
        height: 2rem;;
        width: 100%;
        font-family: $primaryFont;
        font-size: 11px;
        padding-left: 5px;
        &:hover{
            border:2px solid $primaryColor;
           }
    }
    textarea{
        width: 100%;
        font-family: $primaryFont;
        font-size: 11px;
        padding-left: 5px;
        padding-top: 10px;
        &:hover{
            border:2px solid $primaryColor;
           }
    }
        .wpcf7-submit{
            padding: 1rem 0;
            width: 100%;
            border: none;
            height: auto;
            &:hover{
                border:none;
               }
    }
   
}