.footergrey{
  background: #404040;
}

.footergrey_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.footerblack{
  background: black;
}

.greyitem{
  p{
    color: white;
  }
}

.logofooter{
  text-align: center;
  color:white;
  padding: 100px 0px;
  margin:0px;
}

.greyitem{
  padding: 90px 0px 70px 0px;
}


