
header{
    width: 85%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    .logo_name{
        display: none;
        @include responsive(laptop){
        display: block;
        size: 14px;
        font-weight: bold;
        font-family: $primaryFont;
        }
    }
    .logo_black{
        min-width: 30px;
        height:32.14px;
        padding-top: 10px;
        display: block;
        @include responsive(laptop){
        width: 35px;
        height: auto;
        position: absolute;
        right: 50%;
        transform: translate(-50%);
        padding-top: 0;
        }
    }
    .langue{
        display: none;
        @include responsive(laptop){
            display:block;
            position: absolute;
            right: 0;
            display:flex;
            flex-direction: row;
            li{
                list-style-type: none;
            }
        }
    }
    .menu_container{
        display:none;
        @include responsive(laptop){
            display:block;
            width:45%;
            ul#menu-navmenu, #menu-navmenu_en, #menu-navmenu_nl{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-right: 120px;
                    a{
                        text-decoration: none;
                        size: 12px;
                        font-family: $ternaryFont;
                        color: black
                    }
                }
            }
    }
}

/*navigation menu Responsive*/
.langue_responsive{
    display:none;  
}
.menu_container_responsive {
    ul#menu-navmenu-1, #menu-navmenu_en-1, #menu-navmenu_nl-1{
        display:block;
        width:70vw;
        height: 100vh;;
        position: fixed;
        top:0;
        left:100vw;
        margin: 0;
        padding-top:80px;
        background-color: $primaryColor;
        opacity:0.9;
        z-index: 3;
        @include responsive(laptop){
            display:none;
        }
            ul{
                padding: 0;
            }
            li{ 
                border-bottom: 1px solid white;
                margin: 20px auto;
                padding-bottom: 30px; 
                display: block;
            }
            a{
                text-decoration: none;
                color: white;
                line-height: 2rem;
                font-size: 18px;
            }
    }
}

.langue_responsive.is-active{
    position: fixed;
    width: 130px;
    display: block;
    z-index:10;
    left: 30vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 20px;
    right:0;
        li{
            list-style-type: none;
            img{
                width: 25px;
                height: auto;
            }
        }
}
ul#menu-navmenu-1.is-active, #menu-navmenu_en-1.is-active, #menu-navmenu_nl-1.is-active{
    left:30vw;
}




/*hamburger-menu*/
.hamburger{
    position: absolute;
    right: 10px;
    top:10px;
    z-index: 990;
    position: fixed
}
.hamburger.is-active{
    z-index: 990;
    position: fixed;
}