.projet_container{
    width: 1320px;
    margin:auto;
    padding: 0 80px;
    .projet_flex{
        display: flex;
        flex-direction: row;
        .projet_img{
            width: 50%;
        }
        .projet_content{
            width: 50%;
            h1{
                font-size: 80px;
            }

        }
        
    }
}