.wrapper_service{
    width: 100%;
    position: relative;
    .triangle{
        position: absolute;
        right:-5px;
        bottom: 0;
        z-index:-1;
        height: 70%;
    }
    .service{
        width: 78%;
        margin: auto;
        z-index: 3;
        .service_titles{
            width: 100%;
            @include responsive(laptop){
            width:760px;
            }
        }
        .service_flexbox{
            width: 100%;
            margin: auto;
            @include responsive(laptop){
            width: 80%;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            }
            .service_item{
                @include responsive(laptop){
                width: 32%;
                }
                margin-bottom: 1rem;
                background-color: white;
                box-shadow: 13px 14px 37px -12px rgba(0,0,0,0.36);
                .service_item_content{
                    width: 85%;
                    margin: auto;
                    text-align: center;
                    padding-top: 2rem;
                    img{
                        width:50px;
                    }
                    h1{
                        font-size: 22px;
                        letter-spacing: 3px;
                        font-family: $primaryFont;
                        margin: 10px 0;
                    }
                    h2{
                        font-size: 11px;
                        letter-spacing: 2px;
                        font-family: $ternaryFont;
                        margin: 20px 0;
                        text-transform: uppercase;
                        color: $primaryColor;
                    }
                    p{
                        font-size: 14px;
                        font-family: $ternaryFont;
                        line-height: 17px;
                        font-weight: 300;
                        margin: 30px 0;
                    }
                }
            }
        }
    }
}
