.btn{
    display: inline-block;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
    &:hover{
     
    }
}

.btn_blue{
    color:white;
    background-color: $primaryColor;
}

.btn_white{
    color:$primaryColor;
    background-color: white;
}
