.btn{
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    cursor: pointer;
    font-family: $ternaryFont;
    letter-spacing: 2px;
    font-size: 11px;
   /* &::after{
        float: right;
        position: relative;
        content: "";
        background: url('https://i.goopics.net/9qaKj.png') no-repeat center right;
        background-size:contain;
        display: inline-block;
        width: 30px;
        height: 15px;
        left:0;
    }*/
}

.btn_blue{
    color:white;
    background-color: $primaryColor;
    &:hover{
        background-color: $secondaryColor;
       /* &::after{
           left:20px;
       }*/
       }
}

.btn_white{
    color:$primaryColor;
    background-color: white;
}
